

.call-page {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    animation: identi2 2s  forwards ease-in;
    backdrop-filter: blur(3px);
}

.up-call-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.call-user-name {
    font-size: 20px;
}

.user-call-status {
    font-size: 15px;
}

.call-middle-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.white-bg:hover {
    background-color: white;
    color: black;
}

.round-bg {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons {
    font-size: 25px;
}

.end-call {
    background-color: red;
    border-radius: 50%;
    font-size: 25px;
}

.end-call:hover {
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.432);
}

.first-dot {
    font-size: 19px;
    animation: ident1 1s .2s ease-out infinite;
}

.second-dot {
    font-size: 19px;
    animation: ident1 1s .5s ease-out infinite;
}

.last-dot {
    font-size: 19px;
    animation: ident1 1s 1s ease-out infinite;
}

@keyframes identi2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ident1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
